name: My first Workflow
on: push

jobs:
  first_job:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/Checkout@v4

      - name: Welcome message
        run: | 
            echo "my first git hub"
            ls -ltra
            cat README.md
      - name: Generate ACCI art
        run: cowsay -f dragon "Run for cover , I am dragon huuh!" >> dragon.txt

      - name: Read the dargon
        run: cat dragon.txt

    
    



      - name: List files
        run: ls

      - name: Read files
        run: cat README.md
