name: GMulti JOBS
on: push

jobs:
  BuildJob:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/Checkout@v4

      - name: Welcome message
        run: | 
            echo "my first git hub"
            ls -ltra
            cat README.md
      - name: Insatll Cowsay program
        run: sudo apt-get install cowsay -y

      - name: Generate ACCI art
        run: cowsay -f dragon "Run for cover , I am dragon huuh!" >> dragon.txt

      - name: Upload Dragon test
        uses: actions/upload-artifact@v3
        with:
            name: my-dargon-txt
            path: dragon.txt

  TestJob:
    needs: BuildJob
    runs-on: ubuntu-latest
    steps:
      - name: Sleep
        run: sleep 10

      - name: Download Dragon test
        uses: actions/download-artifact@v3
        with:
            name: my-dargon-txt

      - name: File check
        run : grep -i "dragon" dragon.txt

  DeployJOB:
    needs: TestJob
    runs-on: ubuntu-latest
    steps:
      - name: Sleep
        run: sleep 10
        
      - name: Download Dragon test
        uses: actions/download-artifact@v3
        with:
            name: my-dargon-txt

      - name: Read the dargon
        run: cat dragon.txt

      - name: list out the repo
        run : ls -ltra
